Application/src/main/AndroidManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="manifest" type="manifestType">
    <xs:annotation>
      <xs:documentation>Copyright 2013 The Android Open Source Project

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="providerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:authorities" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:enabled" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="meta-dataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:value" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="categoryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="uses-sdkType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:minSdkVersion" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:targetSdkVersion" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="applicationType">
    <xs:sequence>
      <xs:element type="activityType" name="activity" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="providerType" name="provider"/>
    </xs:sequence>
    <xs:attribute ref="and:allowBackup" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:icon" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:label" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:theme" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
  <xs:complexType name="actionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="activityType" mixed="true">
    <xs:sequence>
      <xs:element type="intent-filterType" name="intent-filter" minOccurs="0"/>
      <xs:element type="meta-dataType" name="meta-data" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:label" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
  <xs:complexType name="manifestType">
    <xs:sequence>
      <xs:element type="uses-sdkType" name="uses-sdk">
        <xs:annotation>
          <xs:documentation>ActionBarCompat provides an Action Bar from API v7 onwards  Min/target SDK versions (&lt;uses-sdk>) managed by build.gradle</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="uses-permissionType" name="uses-permission" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>User permissons</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="applicationType" name="application"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="package"/>
    <xs:attribute ref="and:versionCode" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:versionName" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
  <xs:complexType name="intent-filterType">
    <xs:sequence>
      <xs:element type="categoryType" name="category"/>
      <xs:element type="actionType" name="action"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="uses-permissionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>